<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="images/popsicle.jpg"/>
  
    <script src="https://cdn.tailwindcss.com"></script>

    <title>icecream</title>

    <style>
        body{
            background-image: url('images/icecream.jpg');
            background-size:cover;
        }
    </style>
</head>
<body>

     <a href="/mode" class="px-7 py-4 font-bold border-fuchsia-200 border-8 text-white bg-fuchsia-500 text-5xl rounded-lg absolute bottom-10 left-10 cursor-pointer " >Make an Order</a>
    
</body>
</html>