<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="images/popsicle.jpg"/>
    
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
   <style>
     /* Define the styles for the scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

/* Define the track (the area behind the thumb) */
::-webkit-scrollbar-track {
  background: #f7d3f7; /* Color of the track */
}

/* Define the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #ba2aa9; /* Color of the thumb */
  border-radius: 4px; /* Rounded corners */
}

/* Define the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ce51a0; /* Color of the thumb on hover */
}

   </style>
</head>
<body>
    <img src="images/mainice.webp" alt="" class="w-full h-[200px] fixed z-10">
    <div class="absolute top-36 right-10 z-20 flex h-[50px] items-center text-xl text-white bg-fuchsia-700 rounded-md px-3 hover:bg-fuchsia-800" onclick="window.location.href='/cart/items'"><img src="images/trolley.png" alt="" class="w-[50px] rounded-lg mr-2">Cart</div>
    <div class="flex">
        <div class="w-1/4 px-4 py-4 mt-[200px] h-[400px] overflow-y-scroll">
            <div class="" onClick="window.location.href='/category?category=3'">
                <img class="w-full h-[200px]" src="images/popsicle.jpg" alt="">
                <button class="px-4 py-2 text-white text-2xl bg-fuchsia-700 relative top-[-30px] z-0"  >Sticks</button>
            </div>
            <div class="" onClick="window.location.href='/category?category=5'">
                <img class="w-full h-[200px]" src="images/sundae.jpg" alt="">
                <button class="px-4 py-2 text-white text-2xl bg-fuchsia-700 relative top-[-30px] z-0"  >Sundae</button>
            </div>
            <div class="min-w-[150px]" onClick="window.location.href='/category?category=6'">
                <img class="w-full h-[200px]" src="images/dubles.jpeg" alt="">
                <button class="px-4 py-2 text-white text-2xl bg-fuchsia-700 relative top-[-30px] z-0"  >Dubles</button>
            </div>
            <div class="" onClick="window.location.href='/category?category=8'">
                <img class="w-full h-[200px]" src="images/cone.webp" alt="">
                <button class="px-4 py-2 text-white text-2xl bg-fuchsia-700 relative top-[-30px] z-0"  >Cone</button>
            </div>
            <div class="" onClick="window.location.href='/category?category=4'">
                <img class="w-full h-[200px]" src="images/cassate.jpg" alt="">
                <button class="px-4 py-2 text-white text-2xl bg-fuchsia-700 relative top-[-30px] z-0"  >Cassata</button>
            </div>
            <div class="" onClick="window.location.href='/category?category=1'">
                <img class="w-full h-[200px]" src="images/cups.jpg" alt="">
                <button class="px-4 py-2 text-white text-2xl bg-fuchsia-700 relative top-[-30px] z-0"  >Cups and Cakes</button>
            </div> 
            <div class="" onClick="window.location.href='/category?category=9'">
                <img class="w-full h-[200px]" src="images/bulk.jpg" alt="">
                <button class="px-4 py-2 text-white text-2xl bg-fuchsia-700 relative top-[-30px] z-0"  >Bulk</button>
            </div>
            <div class="" onClick="window.location.href='/category?category=7'">
                <img class="w-full h-[200px]" src="images/cone.webp" alt="">
                <button class="px-4 py-2 text-white text-2xl bg-fuchsia-700 relative top-[-30px] z-0"  >Carry Home</button>
            </div>
            
        </div>
         
       
         

        
        <div class="w-3/4 px-4 py-4 mt-[200px] h-[400px] flex flex-wrap overflow-y-scroll">
                <% data.forEach((item)=>{%>
                    <div class="w-1/3 shadow-fuchsia-300 min-w-[150px] shadow-2xl rounded-lg" 
                        >
                        <img class="w-full h-[200px]" src="https://lazza.co.in/admin/uploads/products/<%=item.productImage%>" alt="">
                        <div>
                            <h2 class="text-center text-xl font-semibold"><%=item.productName%></h2>
                            <h3 class="text-center font-md pb-3">₹ <%=item.regularPrice%></h3>
                            <h3 class="text-xl font-semibold text-white bg-yellow-400 rounded-md px-3 py-2 w-2/5 mx-auto hover:bg-yellow-600 relative bottom-2" onClick="window.location.href='/cart/cart?itemId=<%= item._id %>'">Add To Cart</h3>
                        </div>

                    </div>
                <%})%>
        </div>
    </div>
    
</body>
</html>