<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="images/popsicle.jpg"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>icecream</title>
</head>
<body>
    <div class="flex w-full h-screen justify-center items-center bg-teal-300">
        <div class="flex w-3/5 flex-col h-3/5 bg-white rounded-md items-center min-h-[500px] justify-center">
            <div class="text-center px-5 pt-5 font-bold text-3xl ">✅</div>
            <div class="w-2/4 text-teal-800 font-bold text-2xl px-5 py-5 text-center">Your Order will be sent to Kitchen after you have completed Payment. Your order no is:</div>

            <div class="w-2/4 text-teal-500 font-bold text-3xl text-center"> <%=order%></div>
        </div>
    </div>
    <script>
        setTimeout(()=>{
            window.location.href = '/';
        },3000)
    </script>
</body>
</html>